# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/solvix
# For MongoDB Atlas, use:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/solvix?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://rafay5584_db_user:Rafay558MongoDb@cluster0.4vai6v4.mongodb.net/solvix?retryWrites=true&w=majority



al-s8BDeR6NeL3hjAxPynBdzmMHhiu0kgQjGC1UX-fPUje
# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=30d

# CORS Configuration
CLIENT_URL=http://localhost:3000
